<form   #heroForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="info.name" name="name"
               #name="ngModel" >
        <span *ngIf="!name.valid && !name.pristine" style="color:red;"><span>name is Required</span></span>
      </div>

      <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input type="text" class="form-control" id="alterEgo"
               [(ngModel)]="info.age" name="alterEgo" >
      </div>

      <button type="button" class="btn btn-default" (click)="enter()">ENTER</button>
</form>